/src/com/mobicage/admin/admin.min.html
/src/static/admin
/src/static/libs
/src-frontend/node_modules
*~
*.bak
*.swp
*.tmp
*.pyc
.project
.pydevproject
.settings
.DAV
setenv.sh
.DS_Store
js-test/gen/*
src-tools/shop/*.xls
.idea
bin/
